@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="input_captcha">
    <table style="display:block;">
        <tr><td><div class="btn btn-lg btn-info" id="btn_9">9</div></td><td><div class="btn btn-lg btn-info" id="btn_8">8</div></td><td><div class="btn btn-lg btn-info" id="btn_7"> 7 </div></td></tr>
        <tr><td><div class="btn btn-lg btn-info" id="btn_6">6</div></td><td><div class="btn btn-lg btn-success" id="btn_5">5</div></td><td><div class="btn btn-lg btn-info" id="btn_4"> 4 </div></td></tr>
        <tr><td><div class="btn btn-lg btn-info" id="btn_3">3</div></td><td><div class="btn btn-lg btn-info" id="btn_2">2</div></td><td><div class="btn btn-lg btn-info" id="btn_1"> 1 </div></td></tr>
        <tr><td><div class="btn btn-lg btn-primary" id="btn_del"><</div></td><td><div class="btn btn-lg btn-info" id="btn_0">0</div></td><td><div class="btn btn-lg btn-danger" id="btn_clear">C</div></td></tr>
    </table>
</div>