@model VNW.Models.Employee

@{
    ViewData["Title"] = "員工修改密碼";
}

<h2>@ViewData["Title"]</h2>


員工姓名: @Model.Name <br />
ID:  @Model.Id <br/>
Email: @Model.Email <br/>

<hr />

<div class="row">
    <div class="col-md-4">

        <form asp-action="EditPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Id" />*@

            <div class="form-group">
                <label class="control-label">原本密碼</label> <b class="text-danger">*</b>
                <input id="Old_Password" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <label class="control-label">新密碼</label> <b class="text-danger">*</b>
                <input id="New_Password" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <label class="control-label">密碼確認</label> <b class="text-danger">*</b>
                <input id="New_Password_Confirm" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <label class="control-label">驗證碼</label> <b class="text-danger">*</b>
                <p><img src="~/images/default.jpg" style="height:50px;width:200px;" /></p>
                <input id="captcha" class="form-control" />
            </div>

            <div class="btn btn-info">送出資料</div>
        </form>
    </div>
</div>


<script>

</script>