@model VNW.Models.Employee

@{
    ViewData["Title"] = "修改員工資料";
}

<h2>@ViewData["Title"]</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label> (不可修改)
                <input asp-for="Email" class="form-control" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordEncoded" class="control-label"></label> (暫不開放修改)
                @*<input asp-for="PasswordEncoded" class="form-control" type="password" readonly/>*@
                @*<input type="password" id="oldPassword" class="form-control" readonly value="@Model.PasswordEncoded" />*@                
                @*<input type="hidden" asp-for="PasswordEncoded" />*@
                @*<span asp-validation-for="PasswordEncoded" class="text-danger"></span>*@
                <br/><a class="btn btn-danger" asp-action="EditPassword" asp-route-id="@Model.Id">修改密碼</a>

            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Extension" class="control-label"></label>
                <input asp-for="Extension" class="form-control" />
                <span asp-validation-for="Extension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportsTo" class="control-label"></label>
                <input asp-for="ReportsTo" class="form-control" readonly/>
                <span asp-validation-for="ReportsTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

