<span>
    @{
        bool isShowIcon = true;
    }
    @*@if (ViewBag.ShopAccount != null)
    {
        isShowIcon = true;
    }
    else if (ViewBag.UserAccount != null)
    {
        isShowIcon = true;
    }*@

    

    @if (isShowIcon)
    {
        if (ViewBag.UserIcon != null)
        {
            <img src="@Url.Content("~"+ViewBag.UserIcon)"
                 style="width:45px;border-radius:45px;border:solid;border-width:1px;" />
        }
        else
        {
            <img src="~/images/default.jpg"
                 style="width:45px;border-radius:45px;border:solid;border-width:1px;" />
        }
    }

    @if (ViewBag.Show == "Yes")
    {
        if (ViewBag.ShopAccount != null)
        {
            <span style="color:lightgray;">@ViewBag.ShopAccount</span>
        }
        else if (ViewBag.UserAccount != null)
        {
            <span style="color:lightgray;">@ViewBag.UserAccount</span>
        }
    }

</span>