<span>
    @if (ViewBag.ShopAccount != null)
    {
        <img src="~/images/employee/@ViewBag.UserIcon"
             style="width:50px;border-radius:50px;border:solid;border-width:1px;" />
        <span style="color:lightgray;">@ViewBag.ShopAccount</span>
    }
</span>