@{
    ViewData["Title"] = "Home Page";
}

<a>Login</a> (Customer | Vender | Admin)

<div class="row">
    <div class="col-md-3">
        <h2>Products</h2>
        <ul>
            <li>食材</li>
            <li>料理</li>
            @*<li>Ingredients</li>*@
            <li>道具</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Orders</h2>
        <ul>
            <li>訂單 (個人)</li>
            <li>明細</li>

            <li>訂單 (供應商)</li>
            <li>訂單 (管理者)</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Customers</h2>
        <ul>
            <li>客戶資料維護 (個人)</li>
            <li>客戶名單 (管理者)</li>

        </ul>
    </div>
</div>

<div class="row">


    <div class="col-md-3">
        <h2>Recipes</h2>
        <ul>
            <li>食譜分享</li>
            <li>討論</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>IoT綠能專區</h2>
        <ul>
            <li>溫濕度記錄</li>
            <li>太陽能路燈</li>
            <li>CAM即時監控</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>出版品</h2>
        <ul>
            <li>異界素食系</li>
            <li>色素香的晨間食堂</li>
            <li>其它圖文書籍</li>
        </ul>
    </div>

</div>
