@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.UserAccount == null || ViewBag.UserAccount == "")
{
    <a asp-action="login" asp-controller="customers">登入</a> <x>|</x> 
    <a>註冊</a>
}
else
{
    <p>
        @ViewBag.UserAccount
        <a asp-action="logout" asp-controller="Customers">登出</a>
    </p>    
}


<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6">
        <h2>商品分類</h2>
        <ul>

            <li><a asp-action="CategoryList" asp-controller="Categories">所有商品分類</a></li>
            <li>
                食材 (<a asp-action="ProductList" asp-controller="Products" asp-route-cat="1">未來肉|植物蛋白肉</a>
                |天貝)
            </li>
            <li>料理 (調理包 | 即食 |餐點)</li>
            <li><a asp-action="ProductList" asp-controller="Products" asp-route-cat="8">書籍</a> | 器具 | 手工藝品</li>
        </ul>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <h2>訂單細節</h2>
        <ul>
            <li>
                <a asp-action="PrepareOrder" asp-controller="Products">購物車</a>
            </li>
            <li>
                <a asp-action="OrderList" asp-controller="Orders">我的訂單</a>
            </li>
            <li>訂單(供應商)</li>
            @if (ViewBag.IsAdmin)
            {
                <li>
                    訂單(<span class="text-danger">需管理者權限*</span>)
                    <ul>
                        <li><a asp-action="index" asp-controller="Products"> Product </a></li>
                        <li><a asp-action="index" asp-controller="Categories"> Category </a></li>
                        <li><a asp-action="index" asp-controller="Orders"> Order </a></li>
                        <li><a asp-action="index" asp-controller="OrderDetails"> Order Detail </a></li>
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <h2>客戶資訊</h2>
        <ul>
            <li>個人資料維護 (客戶)</li>
            <li>個人資料維護 (供應商)</li>
            @if (ViewBag.IsAdmin)
            {

                <li>客戶名單(<span class="text-danger">需管理者權限*</span>)</li>
                <ul>
                    <li><a asp-action="index" asp-controller="Customers"> Customer </a></li>
                </ul>
            }

</div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <h2>綠能專區</h2>
        <ul>
            <li>智能與善良的農場(IoT溫濕度記錄)</li>
            <li>太陽能路燈</li>
            <li>
                CAM即時監控 (定點式|無人機|飛天鯊魚)
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6">
        <h2>料理食譜</h2>
        <img src="~/images/bg02.jfif" style="width:200px;border-radius:5px;" />
        <ul>
            <li>食譜分享</li>
            <li>料理討論</li>
        </ul>

    </div>

    <div class="col-md-3 col-sm-4 col-xs-6">
        <h2>圖文書籍</h2>
        <img src="~/images/bg03.jfif" style="width:200px;border-radius:5px;" />
        <ul>
            <li>異界素食系 (漫畫)</li>
            <li>色素香的晨間食堂 (漫畫)</li>
            <li>其它圖文書籍</li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
        <h2>友站連結</h2>
        <img src="~/images/bg01.jfif" style="width:200px;border-radius:5px;" />
        <ul>
            <li>陸行鳥的蛋 (跑地雞養殖場)</li>
            <li>高架式太陽能板 <span style="font-size:small;color:brown"><b>與自動環境的共生...</b></span></li>
            <li>隱藏式太陽能板 <span style="font-size:small;color:brown"><b>與古蹟、傳統建築的共生...</b></span></li>
            <li><a href="https://timmyapp2.azurewebsites.net/study/Pomodoro_WebWorker.htm" target="_blank">管理時間的蕃茄鐘</a></li>
        </ul>


    </div>

    <div class="col-md-3 col-sm-4 col-xs-6">
        <h2>程式技術</h2>
        <ul>
            <li>ASP.NET Core MVC</li>
            <li>MS SQL</li>
            <li>Java Script | jQuery</li>
            <li>Bootstrap | CSS | HTML5</li>
        </ul>

    </div>

</div>

<div class="row">

</div>



