
@{
    ViewData["Title"] = "APITest";
}

<h2>APITest</h2>

<h4>Get Test</h4>
<ul>
    <li><a href="/api/pp/" target="_blank">Get (list) withtou parameters</a></li>
    <li><a href="/api/pp?category=1&minPrice=100&maxPrice=200" target="_blank">Get (list) with parameter from rounte</a></li>
    <li><a href="/api/pp/1/100/300" target="_blank">Get list by Cat.|MinPrice|MaxPrice</a></li>
    <li><a href="/api/pp/1" target="_blank">Get product by id</a></li>
    <li><a href="/api/pp/girl/1" target="_blank">Search name or id</a></li>
</ul>

<hr />
<h4>Post Test</h4>
<div class="btn btn-warning" id="btn_post">POST (Add or Create) </div>

<hr />
<h4>Other Test</h4>

<div class="btn btn-warning" id="btn_put">PUT (Update) </div>

<div class="btn btn-primary" id="btn_patch">Patch (Update partially) </div>

<div class="btn btn-danger">Delete </div>

<hr/>
<div id="btn_putByXhr" class="btn btn btn-primary">btn_putByXhr</div>

<div id="btn_putByFetch" class="btn btn btn-success">btn_putByFetch</div>


@section endJS{
    @*<!--jquery code-->*@
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");

        $('#btn_post').click(function () {
            console.log("btn post click, jquery ajax");

            var surl = "";
            //surl = "../QuickAddStock"; //ok for /39
            //surl = "QuickAddStock";  // ok for ?id=39
            @*surl = '@(ViewBag.currentHost+ViewBag.currentBase)/products/QuickAddStock';*@
            surl = "/api/pp/";

            var productData = {
                //ProductId: 100,
                ProductName: "123",
                CategoryId: 1,
                Description: "tbd",
                UnitPrice: 100,
            };
            $.ajax({
                url: surl,
                type: "POST",
                //dateType: "json",
                contentType: "application/json",
                data: JSON.stringify(productData),
                success: function (data, textStatus, xhr) {
                    console.log("get data")
                    console.log(data)

                    console.log('textStatus ' + textStatus);
                    console.log('xhr.status ' + xhr.status);

                    if (xhr.status == 201) {
                        var locationUrl = xhr.getResponseHeader('Location');
                        console.log('New resource created at: ' + locationUrl);
                    }

                    if (data.result == "PASS") {
                        console.log("PASS ");
                        SetReady();
                    }
                    else {
                        //::fail case
                        console.log("fail case");                        
                        SetReady();
                    }
                }, //success
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr)                    
                    SetReady();
                }//error
            });
        });

        $('#btn_put').click(btn_put_click);
        function btn_put_click() {
            console.log('btn_put_click');
            var surl = "";
            //surl = "/api/pp/";
            surl = "/api/pp/399";
            var productData = {
                ProductId: 39,
                ProductName: "123",
                CategoryId: 1,
                Description: "tbd",
                UnitPrice: 100,
            };
            $.ajax({
                url: surl,
                type: "PUT",                
                contentType: "application/json",                
                data: JSON.stringify(productData),                
                success: function (data) {
                    console.log("get data")
                    console.log(data)
                    if (data.result == "PASS") {
                        console.log("PASS ");
                        SetReady();
                    }
                    else {
                        //::fail case
                        console.log("fail case");
                        SetReady();
                    }
                }, //success
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr)
                    SetReady();
                }//error
            });
        }


        $('#btn_patch').click(btn_patch_click);
        function btn_patch_click() {
            console.log('btn_put_click');
            var surl = "";
            //surl = "/api/pp/"; //without parameter
            surl = "/api/pp/39"; //with parameter {id}
            var productData = {
                ProductId: 39,
                //ProductName: "123",
                CategoryId: 1,
                ReorderLevel: 999
                //Description: "tbd",
                //UnitPrice: 100,
                
            };
            $.ajax({
                url: surl,
                type: "PATCH",
                //dateType: "json",
                contentType: "application/json",
                data: JSON.stringify(productData),
                success: function (data) {
                    console.log("get data")
                    console.log(data)
                    if (data.result == "PASS") {
                        console.log("PASS ");
                        SetReady();
                    }
                    else {
                        //::fail case
                        console.log("fail case");
                        SetReady();
                    }
                }, //success
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr)
                    SetReady();
                }//error
            });
        }


        function SetReady() {
            console.log("...ready");
        }
        function SetBusy() {
            console.log("...busy");
        }

        console.log("jquery end");


        var btn_putByFetch = document.getElementById('btn_putByFetch');

        btn_putByFetch.addEventListener('click', function () {

            var surl = '/api/pp/39';
            //var surl = '/api/pp';
            var productData = {
                ProductId: 399,
                //ProductName: "123",
                CategoryId: 1,
                ReorderLevel: 999
                //Description: "tbd",
                //UnitPrice: 100,

            };
            fetch(surl, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                    //'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: JSON.stringify(productData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);                        
                    }
                    console.log('fetch response');
                    return response.json();
                })
                .then(data => {
                    console.log('fetch data');
                    console.log(data);                   
                    
                })
                .catch(error => {
                    console.error('Fetch operation failed:', error);                    
                });
            //:: notice: waiting for data response

        });


        var btn_putByXhr = document.getElementById('btn_putByXhr');
        btn_putByXhr.addEventListener('click', function () {
            btn_putByXhr_click();
        });

        function btn_putByXhr_click() {
            //::call api
            var _isPass = false;

            var surl = '/api/pp/39';
            console.log('call api ' + surl);

            //var postData = 'id=' + encodeURIComponent(39);
            //console.log(' postData: ' + postData);//debug only

            var productData = {
                ProductId: 399,
                ProductName: "123",
                CategoryId: 1,
                ReorderLevel: 999,
                Description: "tbd",
                UnitPrice: 100,
            };

            var xhr = new XMLHttpRequest();
            xhr.open('PUT', surl, true);
            xhr.setRequestHeader("Content-Type", "application/json"); //::pass case
            //xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            //xhr.setRequestHeader("contentType", "application/json"); //NG case
            
            xhr.onload = function () {
                console.log('xhr on load ' + xhr.status);
                if (xhr.status >= 200 && xhr.status < 300) {
                    var data = JSON.parse(xhr.responseText);
                    console.log(xhr.responseText);
                    if (data.result == "PASS") {
                        console.log('PASS');
                        _isPass = true;
                        //SetReady();
                        return _isPass;
                    }
                    else {
                        _isPass = false;
                        return _isPass;
                    }
                }
            };
            xhr.onerror = function () {
                //console.log('xhr on error');
                console.error('Request failed');
            };

            console.log('before send data');            
            xhr.send(JSON.stringify(productData));
            //xhr.send(productData);
            //xhr.send();
            console.log('after send data');
        }

    </script>
}