
@{
    ViewData["Title"] = "PrepareOrder";
}

<h2>購物車</h2>
<p><a>步驟1 [確認購物車]</a> > <a>步驟2 [付款與運送方式]</a> > <a>步驟3 [訂單確認]</a></p>

<hr />
<hr />
<div id="txt_shoppingCart"></div>

<table class="table">
    <thead>
        <tr>
            <th>商品</th>
            <th>品名</th>
            <th>單價</th>
            <th>數量</th>
            <th>價格</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="~/images/product_4321_0.jpg" style="width:150px;" />
            </td>
            <td>好野狼三輪機車(125CC等級混和動力)</td>
            <td>14,000</td>
            <td>
                @*<input type="number" value="1" /><br>*@
                @*<a class="btn btn-info">+</a><a class="btn btn-primary">-</a>*@
                <select class="form-control">
                    <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>                    
                </select>
            </td>
            <td>14,000</td>
            <td>
                <a class="btn btn-default"> 取消</a>
            </td>
        </tr>
    </tbody>
</table>


<p>
    <a class="btn btn-primary btn-lg">確認並送出</a>
</p>


<hr/>*Data from cookie via Ajax
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>商品</th>
            <th>品名</th>
            <th>單價</th>
            <th>數量</th>
            <th>價格</th>
        </tr>
    </thead>
    <tbody id="tbody_data"></tbody>
</table>

<p>
    <a class="btn btn-danger" id="btn_GetShoppingCart">GetShoppingCart</a>
</p>
<div id="txt_debug" class="alert-info"></div>


@section endJS{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");

        var btn_GetShoppingCart = $('#btn_GetShoppingCart');
        //$('#btn_GetShoppingCart').click(GetShoppingCart);

        GetShoppingCart(); //auto load
        btn_GetShoppingCart.text("RELOAD");
        btn_GetShoppingCart.click(GetShoppingCart);

        function GetShoppingCart() {
            console.log("btn_GetShoppingCart_click");
            //::call api (store p.id in cookie)
            //$('#btn_GetShoppingCart').hide();
            $("#txt_Message").text("處理中");
            //ajax
            try {
                console.log("ajax r/w data...");
                var surl = "GetShoppingCart";
                $.ajax({
                    url: surl,
                    type: "POST",
                    dateType: "json",
                    data: {
                        @*//pid: @Model.ProductId,
                        //catid: @Model.CategoryId*@
                    },
                    success: function (data) {
                        console.log("get data")
                        console.log(data)

                        if (data.result == "PASS") {                            
                            console.log("PASS ");
                            console.log("prodCount " + data.prodCount);
                            $('#txt_shoppingCart').text("購物車 (" + data.prodCount + ")");
                            $('#txt_debug').text(data.detail);
                            console.log("data.detail =" + data.detail);
                            if (data.detail != null) {
                                generateTable(data.detail);
                            }
                            //window.location.href = "../";
                        }
                        else {
                            //::fail case
                            console.log("fail case");
                            var failMessage = "回傳非預期的資訊";                            
                            $('#txt_debug').text(failMessage + ' ' + data.detail);
                        }
                        //$('#btn_GetShoppingCart').show();

                    }, //success
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr)
                        $("#txt_failMessage").text("發生未知錯誤");
                    }//error
                });
                return;
            }
            catch (err) {
                console.log("exception " + err);
                //btn_GetShoppingCart.show();
                $("#txt_failMessage").text("發生未知錯誤");
                return;
            }
        }//

        function generateTable(dataDetail) {

            try {
                //::covert object from json string
                var jsonRes = JSON.parse(dataDetail);
                //var jsonRes = JSON.stringify(data.detail);
                console.log(jsonRes);
                console.log(jsonRes.length);
                //console.log(jsonRes);
                var tempstr = "";
                $('#tbody_data').text(""); //reset
                //::update data in UI table 
                for (var i = 0; i < jsonRes.length; i++) {

                    var priceByQty = jsonRes[i].Price * jsonRes[i].Qty;
                    
                    tempstr += '<tr><td><a>#'
                        + jsonRes[i].Pid + '</a></td><td><img src="../images/'
                        + jsonRes[i].Img + '" style="width:100px;"/></td><td>'
                        + jsonRes[i].Name + '</td><td>'
                        + jsonRes[i].Price + '</td><td><input type="number" value="'
                        + jsonRes[i].Qty + '" />'
                        + '</td><td>' + priceByQty
                        + '</td> <td> <div class="btn btn-info">取消</div>  </td> </tr>';
                }
                $('#tbody_data').append(tempstr);                
            }
            catch
            {

            }            
        }

        console.log("jquery end");
    </script>
}
