
@{
    ViewData["Title"] = "PrepareOrder";
}

<h2>確認購物車</h2>
<p><a>步驟1 [確認購物車]</a> > <a>步驟2 [付款與運送方式]</a> > <a>步驟3 [訂單確認]</a></p>

<hr/>
<div id="txt_debug" class="alert-info"></div>
<hr />
<div id="txt_shoppingCart"></div>

<table class="table">
    <thead>
        <tr>
            <th>
                商品
            </th>
            <th>品名</th>
            <th>單價</th>
            <th>數量</th>
            <th>價格</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="~/images/product_4321_0.jpg" style="width:150px;" />
            </td>
            <td>好野狼三輪機車(125CC等級混和動力)</td>
            <td>14,000</td>
            <td>
                <input type="number" value="1" /><br>
                @*<a class="btn btn-info">+</a><a class="btn btn-primary">-</a>*@
            </td>
            <td>14,000</td>
            <td>
                <a class="btn btn-danger"> 取消</a>
            </td>
        </tr>
        @*<tr>
            <td>
                <img src="~/images/product_photo_20200827132032_8p1_tw.jpg" style="width:150px;" />
            </td>
            <td>植物蛋白漢堡排(純素)</td>
            <td>200</td>
            <td>
                <input type="text" value="2" /><br>
                <a class="btn btn-info">+</a><a class="btn btn-primary">-</a>
            </td>
            <td>400</td>
            <td>
                <a class="btn btn-danger"> 取消</a>
            </td>
        </tr>*@

        @*<tr>
            <td>
                <img src="~/images/4320_0.jpg" style="width:150px;" />
            </td>
            <td>好野狼三輪機車(150CC等級混和動力)</td>
            <td>21,000</td>
            <td>
                <input type="text" value="1" /><br>
                <a class="btn btn-info">+</a><a class="btn btn-primary">-</a>
            </td>
            <td> 21,000</td>
            <td>
                <a class="btn btn-danger"> 取消</a>
            </td>
        </tr>*@

    </tbody>
</table>

<table  class="table">
    <thead>
        <tr><td>id</td><td>qty</td></tr>
    </thead>
    <tbody id="tbody_data">

    </tbody>
</table>

@*<div id="tbody_data"> </div>*@


<p>
    <a class="btn btn-primary btn-lg">確認並送出</a>
</p>



@section endJS{
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        console.log("jquery start");

        //var btn_AddProductInOrder = $('#btn_AddProductInOrder');
        //$('#btn_AddProductInOrder').click(btn_AddProductInOrder_click);
        btn_AddProductInOrder_click();
        function btn_AddProductInOrder_click() {
            console.log("btn_AddProductInOrder_click");
            //::call api (store p.id in cookie)
            //$('#btn_AddProductInOrder').hide();
            $("#txt_Message").text("處理中");
            //ajax
            try {
                console.log("ajax r/w data...");
                var surl = "GetShoppingCart";
                $.ajax({
                    url: surl,
                    type: "POST",
                    dateType: "json",
                    data: {
                        @*//pid: @Model.ProductId,
                        //catid: @Model.CategoryId*@
                        //password: $("#password").val(),
                        //pin: $("#pin").val(),
                    },
                    success: function (data) {
                        console.log("get data")
                        console.log(data)

                        if (data.result == "PASS") {
                            //login pass

                            //$("#txt_Message").text("已加入");
                            //$("#txt_Message").text("已加入" + data.detail);
                            console.log("PASS ");
                            console.log("prodCount " + data.prodCount);
                            //$('#btn_AddProductInOrder').text("加入購物車 (" + data.prodCount+ ")");
                            //window.location.href = "../";
                            $('#txt_shoppingCart').text("購物車 (" + data.prodCount + ")");
                            $('#txt_debug').text(data.detail);

                            console.log("data.detail =" + data.detail);
                            if (data.detail != null) {
                                //::covert object from json string
                                var jsonRes = JSON.parse(data.detail);
                                //var jsonRes = JSON.stringify(data.detail);
                                console.log(jsonRes);                                
                                console.log(jsonRes.length);
                                //console.log(jsonRes);
                                var tempstr = "";
                                //update data in UI table tr
                                for (var i = 0; i < jsonRes.length; i++) {
                                    //console.log(i);                                  
                                    //console.log(" " + jsonRes[i].Pid);
                                    tempstr += '<tr><td>' + jsonRes[i].Pid + '</td>' + '<td>' + jsonRes[i].Qty + '</td></tr>' ;
                                }
                                //$('#tbody_data').text(tempstr);
                                $('#tbody_data').append(tempstr);
                            }
                        }
                        else {
                            //fail case
                            var failMessage = "※提示：找不到符合您輸入的資料!";
                            $("#txt_Message").text("");
                            $("#txt_failMessage").text(failMessage);
                            console.log("note pass");
                        }
                        //$('#btn_AddProductInOrder').show();

                    }, //success
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log(xhr)
                        $("#txt_failMessage").text("發生未知錯誤");
                    }//error
                });
                return;
            }
            catch (err) {
                console.log("exception " + err);
                //btn_AddProductInOrder.show();
                $("#txt_failMessage").text("發生未知錯誤");
                return;
            }


        }

        console.log("jquery end");
    </script>
}
